/*Media queries for downsizing images from screen size 900*/
@media screen and (max-width: 900px) {
    img {
        width: 600px;
    }
}

/*Media queries for downsizing images from screen size 660*/
@media screen and (max-width: 660px) {
    img {
        width: 480px;
    }
}

/*Media queries for downsizing images from screen size 500*/
@media screen and (max-width: 500px) {
    img {
        width: 360px;
    }
}

/*Formats the body and sets the color to light green*/
body {
    text-align: center;
    margin: 0;
    /*    Sets the fonts to one of google fonts*/
    font-family: 'Quicksand', sans-serif;
    margin: 25px;
    /*Black*/
    background-color: #000000;
}

#introduction {
    text-align: center;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000000;
    /*White*/
    background-color: #FFFFFF;
    /*background-color: #333333;*/
}

.site-title { line-height: 80px; }

img.site-title { height: 80px; width: 80px; }
