/*Media queries for downsizing images from screen size 900*/
@media screen and (max-width: 900px) {
    img {
        width: 600px;
    }
}

/*Media queries for downsizing images from screen size 660*/
@media screen and (max-width: 660px) {
    img {
        width: 480px;
    }
}

/*Media queries for downsizing images from screen size 500*/
@media screen and (max-width: 500px) {
    img {
        width: 360px;
    }
}

/*Formats the body and sets the color to light green*/
body {
    margin: 0;
    /*    Sets the fonts to one of google fonts*/
    font-family: 'Quicksand', sans-serif;
    margin: 25px;
    background-color: #F6FFF2;
}

.site-title { line-height: 80px; }

img.site-title { height: 80px; width: 80px; }
